PORT=5000

# Standard MongoDB SRV Connection String Template
MONGO_URI=mongodb+srv://<db_user>:<db_password>@cluster0.ufcyldh.mongodb.net/syncboard?appName=Cluster0

# Direct Non-SRV Replica Set Connection String Template
# MONGO_URI=mongodb://<db_user>:<db_password>@ac-fkznf8g-shard-00-00.ufcyldh.mongodb.net:27017,ac-fkznf8g-shard-00-01.ufcyldh.mongodb.net:27017,ac-fkznf8g-shard-00-02.ufcyldh.mongodb.net:27017/syncboard?ssl=true&replicaSet=atlas-x8rf8j-shard-0&authSource=admin&retryWrites=true&w=majority

# Local MongoDB Connection Fallback
# MONGO_URI=mongodb://127.0.0.1:27017/syncboard

JWT_SECRET=your_jwt_secret_key_change_in_production
